.right-sidebar-div-1,
.widget h4 {
  background-color: #fbf3d5;
  border: 1px solid #f1e5bc;
  padding: 15px;
  font-size: 0.9rem;
}
.sidebar-icons {
  width: 0.7rem;
}
.widget p {
  font-size: 0.7rem;
  padding-left: 10px;
  cursor: pointer;
}
.widget {
  box-shadow: 3px 3px 10px rgb(0 0 0/5%), -3px -3px 10px rgb(0 0 0/5%);
  margin-top: 10px;
  font-family: var(--font-poppins);
}
.right-sidebar {
  margin: 0 0 15px 0;
  width: 30vw;
  max-width: 300px;
}
.right-sidebar-div-1 .right-sidebar-div-2 {
  align-items: center;
  display: flex;
  gap: 10px;
}
.widget-tags {
  box-shadow: 3px 3px 10px rgb(0 0 0/5%), -3px -3px 10px rgb(0 0 0/5%);
  margin-top: 40px;
  font-family: var(--font-poppins);
  font-size: 0.9rem;
}
.widget-tags h4 {
  background-color: #f8f9f9;
  border: 1px solid #e3e6e8;
  margin: 0;
  padding: 15px;
}
.widget-tags-div {
  align-items: center;
  border: 1px solid #e3e6e8;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 10px;
  gap: 15px 10px;
  cursor: pointer;
}
.widget-tags-div p {
  background-color: #e1ecf4;
  border-radius: 2px;
  color: #39739d;
  font-size: 0.7rem;
  padding: 5px;
  font-family: var(--font-poppins);
}
