.home-container-1 {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 1250px;
  justify-content: space-between;
  margin: 0 auto;
}
.home-container-2 {
  width: calc(100% - 164px);
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  border: 1px solid var(--black-500);
  border-top: none;
  border-bottom: none;
  position: relative;
}
