.tags-h1 {
  font-weight: 400;
  margin-top: 50px;
}
.tags-p {
  font-size: 15px;
  margin: 0;
}
.tags-list-container {
  grid-gap: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 30px 8px;
}
.tag {
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  padding: 10px;
}
.tag h5 {
  background-color: #e1ecf4;
  color: #39739d;
  display: inline-block;
  margin: 10px 0;
  padding: 5px;
}
.tag p {
  line-height: 17px;
  color: #323232;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .tag-container {
    width: 100%;
  }
}
