.main-nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px #ef8236;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  z-index: 15;
  top: 0%;
  left: 0%;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-in-icon {
  display: none;
  transition: 0.2s;
  padding: 5px 6px 3px 6px;
  border-radius: 50%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.navbar .navbar-1 {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navbar .navbar-2 {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
}

.nav-logo {
  padding: 5px 25px;
}

.nav-item {
  margin: 0px 3px;
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: 0.2s;
}

.nav-btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-item:hover,
.slide-in-icon:hover {
  background-color: rgb(226, 226, 226);
}

.navbar .navbar-1 form {
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}

.navbar .navbar-1 form input {
  min-width: 90%;
  margin: 0;
  padding: 8px 10px 8px 32px;
  font-size: 13px;
  border: solid 1px #0000003e;
  border-radius: 3px;
}

.navbar .navbar-1 form .search-icon {
  position: absolute;
  left: 25px;
  top: 8px;
}

.nav-links {
  padding: 7px 13px;
  border: solid 1px blue;
  border-radius: 3px;
  background-color: #e7f8fe;
  cursor: pointer;
}

.nav-links:hover {
  background-color: #d3e4eb;
}

@media screen and (max-width: 1120px) {
  .navbar .navbar-1 form {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .slide-in-icon {
    display: block;
  }
}

@media screen and (max-width: 620px) {
  .navbar .navbar-1 .res-nav {
    display: none;
  }
}
a {
  text-decoration: none;
}
nav {
  font-family: var(--font-poppins);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 15px var(--nav-shadow);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-item {
  text-decoration: none;
  color: var(--black-600);
  font-size: 0.8rem;
}

.nav-links {
  margin-right: 10px;
  font-family: var(--font-poppins);
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border: none !important;
  background-color: transparent !important;
}
.nav-links:hover {
  background-color: var(--hover-color) !important;
  color: var(--black-900) !important;
}
.logo {
  font-size: 1.5rem;
  color: var(--black-800);
  font-family: var(--font-Montserrat);
  font-weight: 400;
  padding: 20px;
  color: var(--orange-500);
  font-size: 1.2rem;
}
.logo span {
  color: var(--black-900);
  font-weight: 1000;
  font-size: 1.2rem;
}
form {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.form-input {
  outline: none;
  border: none;
  width: 30vw;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: var(--input-color);
}
.form-input:focus {
  border: 1px solid var(--blue-500);
  box-shadow: 0 0 8px var(--blue-500);
}
.search-icon {
  width: 16px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.login-btn {
  color: var(--blue-500);
  border: 1px solid var(--blue-500);
}
.login-btn:hover {
  background-color: var(--blue-500);
  color: #fff;
}
.avatar-btn {
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  background-color: var(--blue-500);
  color: #fff;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.avatar-btn:hover {
  background-color: #fff;
  color: var(--blue-500);
}
.logout-btn {
  color: var(--orange-500);
  border: 1px solid var(--orange-500);
  background-color: transparent;
}
.logout-btn:hover {
  background-color: var(--orange-500);
  color: #fff;
}
@media screen and (max-width: 556px) {
  .logo {
    font-size: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
  .logo span {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 921px) {
  .logo {
    font-size: 0.9rem;
  }
  .logo span {
    font-size: 0.8rem;
  }
}
